 {% block content %}
 <div class=" row">
        {% if context.has_other_pages %}
            <ul class="pagination">
                {% if context.has_previous %}
                    <li><a href="?page={{ context.previous_page_number }}">&laquo;</a>
                    </li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in context.paginator.page_range %}
                    {% if context.number == i %}
                        <li class="cyan"><span>{{ i }} <span class=" cyan">(current)</span></span></li>
                    {% else %}
                        <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if context.has_next %}
                    <li><a href="?page={{ context.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

{% endblock %}