{% extends './partials/base.html' %}
{% load my_filter %}
{% block content %}
    {% if not context %}
        <div class="row valign-wrapper" style="min-height: 500px">
            <div class="card col l6  offset-l3  ">
                <div class="card-content">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="row ">
                            <div class="col l12 cyan white-text">
                        <h5> Insert Number of people per group</h5>
                                </div>
                            </div>
                        {% csrf_token %}
                        <br><br>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix light-blue-text">library_add</i>
                                <input type="file" name="file" class="validate" required>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix light-blue-text">group</i>
                                <input type="number" name="group" require min="1" value="4" class="validate">
                                <label for="people per group"> people per group</label>
                            </div>
                        </div>
                        <div class="row">
                        <input type="submit" value="submit" class="button btn-large right light-blue">
                            </div>

                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    {# card to display groups #}
    {% if context %}
        <div class="row valign-wrapper">
            <div class="card col s12 l12 cyan accent-4">
                <div class="card-content">
                    <a href="{% url 'list' id %} " class="waves-effect waves-light btn right cyan darken-4"><i class="material-icons left">visibility</i>view list</a>

                    <h5 class="white-text left-align"><i
                            class="material-icons  medium z-depth-1 circle white cyan-text">verified_user</i>
                        groups generate on: {{ date_generated }} </h5>
                </div>
                <span class="right">{{ date_generated| timesince }}</span>

            </div>
        </div>
        <div class="row">
            {% for group in context %}
                <div class="col s12 m12 l6 ">
                    <div class="card horizontal light-blue lighten-5 z-depth-1">
                        <div class="card-content">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content white z-depth-0">
                                <h5 class="header active cyan-text left-align">
                                    Group {{ context.number|multiply:forloop.counter }} </h5>
                                {% for people in group %}
                                    <div class="col s12 l6" >
                                        <div class="card-panel grey lighten-5 z-depth-0" style=" height:200px; overflow:hidden ">
                                            <div class="row">
                                                <div class="col s12 l12 center-align">
                                                    <i class="material-icons cyan medium circle white-text accent-4">supervisor_account</i>
                                                    <!-- notice the "circle" class -->
                                                </div>
                                                <div class="col s12 l12 center-align">
                                              <span class="blue-grey-text darken-3">
                                                {% for i  in  people|split %}
                                                    {{ i | truncatechars_html:20 }} <br>
                                                {% endfor %}
                                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}