{% extends './partials/base.html' %}
{% load material_form %}
{% block content %}

    <div class="row valign-wrapper col s12 mid" style="min-height: 80vh">
        <div class="card valign col l6 offset-l3 s12 blue-grey lighten-5">
            <div class="row  ">
                <div class="col l3  center-align offset-l4 offset-s4 " style="min-height: 150px">
                    <i class="material-icons large blue-grey-text text-lighten-1">assignment_ind</i>
                    <br>
                    <span class="card-title blue-grey-text">SignUp</span>
                </div>
            </div>
            <div class="divider"></div>
            <form method="POST" class="white">
                <div class="row ">
                    <div class="col l10 s12 offset-l1 ">
                        {% csrf_token %}
                        {% form form=form %}{% endform %}
                        <button type="submit" name="_submit" class=" cyan darken-2 btn btn-large right ">
                            <i class="material-icons">assignment_ind</i>
                            SignUp
                        </button>
                    </div>
                </div>

            </form>
            <br><br>

        </div>
    </div>
{% endblock %}